@font-face {
    font-family: 'Helvetica 65 Medium Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 65 Medium Regular'), url('./helvetica/Helvetica65Medium_22443.woff') format('woff');
}